header,
main

/*, footer*/
  {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header,
  main

  /*, footer*/
    {
    padding-left: 0;
  }
}

/************ 
nav 
************/
nav {
  background-color: white;
  box-shadow: none;
}

@media only screen and (min-width: 992px) {
  nav {
    border-bottom: solid 1px #e0e0e0;
  }
}

@media only screen and (max-width : 992px) {
  nav .nav-wrapper {
    border: solid 1px #e0e0e0;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #e0e0e0, -1px -1px 3px #e0e0e0;
    margin-top: 12px;
    margin-left: 6%;
    width: 88%;
  }
}

@media only screen and (min-width: 992px) {
  .nav-form-wrapper {
    padding: 8px 0 8px 0;
  }
}

nav form {
  border-radius: 8px;
  margin-left: 60px;
  width: calc(100% - 100px);
}

@media only screen and (min-width: 601px) {
  nav form {
    margin-right: 60px;
    width: calc(100% - 120px);
  }
}

@media only screen and (max-width : 601px) {
  nav .input-field {
    height: 54px;
    line-height: 54px;
  }
}

@media only screen and (min-width : 601px) {
  nav .input-field {
    height: 62px;
    line-height: 62px;
  }
}

@media only screen and (min-width: 992px) {
  nav .input-field {
    border: solid 1px #e0e0e0;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #e0e0e0, -1px -1px 3px #e0e0e0;
    height: 46px;
    line-height: 46px;
    margin-left: 2%;
    width: 96%;
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  nav .input-field i {
    height: 46px;
    line-height: 46px;
  }
}

@media only screen and (min-width: 992px) {
  #search {
    border-radius: 8px;
    height: 44px;
  }
}

/*************
sidenav
**************/
.sidenav {
  box-shadow: none;
}

.sidenav li {
  padding-right: 2.5%;
}

.sidenav li>a {
  color: #5F6368;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-left: 28px;
}

.sidenav .brand {
  border-bottom: solid 1px #e0e0e0;
  display: flex;
  margin-bottom: 8px;
  padding: 12px 32px 11px 12px;
  position: relative;
}

.sidenav .brand>a {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0;
}

.sidenav .brand>a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.sidenav .brand>a .icon {
  height: 40px;
  width: 40px;
  /* display: block; */
  padding: 0;
  margin-right: 4px;
  margin-left: 8px;
}

.sidenav .brand>a .name {
  font-size: 20px;
  line-height: 24px;
  padding-top: 8px;
  margin-left: 4px;
}

.sidenav li>a>i.material-icons {
  margin: 0 24px 0 0;
}

.sidenav ul li>a.collapsible-header {
  padding: 0 32px;
}

.sidenav ul li>div.collapsible-body ul li>a {
  padding-left: 38px;
}

.sidenav .divider {
  margin-bottom: 8px;
}

/******************
main and content
******************/

main>.row {
  margin-bottom: 0;
}

.card {
  border-radius: 8px;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .container.container-large {
    max-width: 1620px;
    width: 90%;
  }
}

/*************
tables 
**************/
/* narrow class */
table.narrow td,
table.narrow th {
  padding: 4px 10px;
}

/* Especific to the stonks app */
.small-input {
  min-width: 30px;
  max-width: 60px;
}